.page {
  padding: 24px;
  background: #f4f6f9;
  min-height: 100vh;
  font-family: Arial, sans-serif;

}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.add-btn {
  background: #1976d2;
  color: #fff;
  border: none;
  height: 50px;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

thead {
  background: #1e88e5;
  color: #fff;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.edit {
  background: #f9a825;
  color: #fff;
  padding: 5px 8px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete {
  background: #e53935;
  color: #fff;
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #fff;
  padding: 20px;
  width: 420px;
  border-radius: 10px;
}

.modal-box h3 {
  text-align: center;
  margin-bottom: 12px;
}

label {
  font-weight: 500;
  font-size: 14px;
}

label span {
  color: red;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.save {
  background: #2e7d32;
  color: #fff;
}

.reset {
  background: #fbc02d;
}

.close {
  background: #9e9e9e;
  color: #fff;
}

.actions button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
