/* * {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body-bg {
  background-image: url('https://cdn.pixabay.com/photo/2019/07/05/11/50/hostel-4314144_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
 */
